.slider-img {
  width: 650px;
  height: 327px !important;
}
.custom-prev,
.custom-next {
  background-color: rgb(114, 114, 114) !important;
  border-radius: 10px;
  width: 14px !important;
}
.custom-carousels li {
  background-color: rgb(114, 114, 114) !important;
}
.custom-col-lg-3 {
  max-width: 17.55% !important;
  flex: 0 0 17.55% !important;
}
.carousel-inner p,
h5 {
  cursor: pointer;
}

/* {
    این عرض و بیسیس رو سفارشی کردم تا عکس با اسلایدر کنارش هم ارتفاع شود
  } */

@media (max-width: 992px) {
  .cmt {
    margin-top: 18px !important;
  }
}

@media (max-width: 769px) {
  .custom-col-md-3 {
    max-width: 49.9% !important  ;
    flex: 0 0 49.9% !important  ;
  }
}
@media (max-width: 992px) and (min-width: 770px) {
  .custom-col-sm-3 {
    max-width: 49.15% !important;
    flex: 0 0 49.15% !important;
  }
}
@media (min-width: 992px) {
  .custom-col-md-3 {
    max-width: 20% !important  ;
    flex: 0 0 20% !important  ;
  }

  .custom-col-lg-6 {
    max-width: 60% !important;
    flex: 0 0 60% !important;
  }
}
@media (max-width: 992px) {
  .custom-slider-img {
    width: 295px;
    height: 150px !important;
  }
  .custom-slider-img2 {
    width: 225px;
    height: 320px !important;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .custom-col-md-6 {
    max-width: 60% !important;
    flex: 0 0 60% !important;
  }
}
@media (min-width: 992px) {
  .custom-slider-img1 {
    height: 327px !important;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .custom-slider-img3 {
    height: 152px !important;
  }
}